// *
// * Erdmann & Freunde
// * SOLO Contao Theme
// * erdmann-freunde.de/themes/solo/
// *

//
// COMPONENTS/LOGO
// --------------------------------------------------

// VARIABLES

// USED FROM _variables.scss
// $base-font-family-sans-serif

// USED FROM _layout.scss
// $header-height

// --------------------------------------------------

// company brand
.logo {
  float: left;
  line-height: $header-height;
  font-family: $base-font-family-sans-serif;
  text-transform: uppercase;
  font-weight: 900;
  
  a {
    color: inherit;
  }
}
