// *
// * Erdmann & Freunde
// * SOLO Contao Theme
// * erdmann-freunde.de/themes/solo/
// *

//
// COMPONENTS/MEDIA
// --------------------------------------------------

// VARIABLES

// USED FROM _variables.scss
// $base-spacing-unit
// $base-img-shadow

// --------------------------------------------------

@import "../../../nutshell/scss/components/media";

// --------------------------------------------------

.ce_image {
  margin-bottom: $base-spacing-unit;
}

.ce_gallery {
  overflow: visible;
  img {
    box-shadow: $base-img-shadow;
  }
}

// [1] default class to create object-fit images
// [2] add by js for browsers that don't support the object-fit attribute
.image--object-fit .image_container { // [1]
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
  
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.compat-object-fit { // [2]
  background-size: cover;
  background-position: center center;
  
  img {
    opacity: 0;
  }
}

// fix for IE9: picture-element +  mediaelement.js + object-fit
@if($ie9-support == true) {
  .image_container .mejs-container {
    display: none;
  }
}
