@import "variables";

.events-list .layout_upcoming a {
    padding-top: 0;
    display: inline-block;
}

a.hyperlink_txt {
    float: right;
}

.allevs a {
	width: 100%;
}

div#soccer-team-kopie {
    margin-top: -25em !important ;
}

.ce_comments .widget {
    margin-bottom: inherit;
}

h1.ce_headline.text--inverted.first.last {
    text-align: center;
    font-size: 3.7em;
}

h2 {
      text-transform: uppercase;
    font-weight: lighter;
}


// @media screen and (min-width: 48em) {
  // h2, .heading--2, .events-list--teaser .header .date:first-line {
      // color: white;
  // }
//
// }
//
// @media screen and (min-width: 68.75em) {
  // h2, .heading--2, .events-list--teaser .header .date:first-line {
      // font-size: 1.875rem;
      // color: inherit !important;
  // }
//
// }
//
// h2.first, h2.heading--2.first{
  // color: white ;
// }

h2 {
  // text-align: center;
  padding-bottom: 1em;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.teaser-boxes {
  &.trainer-team {
    span.pnr {
      display: none;
    }
    @media screen and (min-width: 34.3125em) {
    }
    @media screen and (min-width: 30em) and (max-width: 48em ) {
      .teaser-boxes-content {
        h3 {
          font-size: 1.3em !important;
          text-align: center !important;
        }
      }
    }
  }

    @media screen and (max-width: 900px) {
      .rs-column.-medium-col-3-1  {
        margin-top: 1em !important;
      }
    }
  .teaser-boxes-item {


    img {
      border-bottom: none !important;
    }
    .teaser-boxes-content {
      height: 2.7em;
      span.pnr {
        float: left;
        line-height: 1.7em;
        // padding-left: 0.3em;
        // padding-right: 0.3em;
        background: #30609e;
        color: white;
        font-weight: 900;
        font-size: 1.5em;
        height: 100% !important;
        width: 2em;
        text-align: center;
      }
      h3 {
        text-align: right;
        border: 1px solid $color-gray-light;
        padding: 0.5em;
        font-size: 1.2em ;
        height: 100% !important;

      }
    }
  }
}

.home .slogan {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 1.2em;
}

.news-list--hero .hero__image .image_container:not(.compat-object-fit) img {
    opacity: 0.5 !important;
}

.mod_article.news {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.mod_article .hero__image .image_container:not(.compat-object-fit) img {
    opacity: 0.5;
}

#home.mod_article .hero__image .image_container:not(.compat-object-fit) img {
    opacity: 1;
}
.events-list .layout_upcoming a {
    padding-top: 0 !important;
}

// @media screen and (min-width: 34.375em) {
 .events-list--teaser .layout_teaser h2 {
    padding-top: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}
// }

.events-list > h2 {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

time {
    float: left; 
}

.logo {
      margin-top: 0.5em;
    margin-bottom: 0.1em;
    padding-left: 0 !important;
  img {

    float: left;
    max-width: 23%;

  }
  a {
    float: left;
    line-height: 5.5rem;
    font-family: "PT Sans", "Helvetica Neue", Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 4em;
  }
}

.mod_article {
      padding-left: 1.9375rem !important;
    padding-right: 1.9375rem !important;
}

.rs-column {
  margin-top: 1em !important;
}

.hero__image .image_container img {
    height: 114% !important;
}

@media screen and (max-width: 34.3125em) {
.logo img {
  display:none;
}

    div#soccer-team-kopie {
        margin-top: -17em;
    }

}

@media screen and (min-width: 68.75em) {
    div#soccer-team-kopie {
        margin-top: -46em;
    }
}

@media screen and (min-width: 34.3125em) and  (max-width: 48em ) {
    div#soccer-team-kopie {
       display: none !important;
    }
    .teaser-boxes-item {
      .teaser-boxes-content {
        h3 {
          font-size: 1.3em !important;
        }
      }

    }
}

@media screen and (max-width: 48em) {

.teaser-boxes .teaser-boxes-item .teaser-boxes-content {
        h3 {
          font-size: 1.3em !important;
        }
      }

    }



.events-list .layout_upcoming a {
  padding-bottom: 6px !important;
  line-height: 1em;
}

.events-list--table .layout_upcoming time {
  float: none;
}


@media screen and (max-width: 599px) {
  .teaser-boxes-item img {
    width: 100%;
}
}

.news-full .info  {
  text-align: left;

}

.ce_download a, .ce_downloads a {
  display: initial !important;
}
